.animated-wave-btn {
  position: relative;
  padding: 0.75rem 2rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: white;
  background: #191A23;
  border: 2px solid #191A23;
  border-radius: 0.75rem;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease;
  width: 100%;
}

@media (min-width: 640px) {
  .animated-wave-btn {
    width: auto;
  }
}

@media (min-width: 768px) {
  .animated-wave-btn {
    padding: 1rem 2rem;
  }
}

.animated-wave-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background: #B9FF66;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  transition: all 0.7s ease;
  z-index: -1;
}

.animated-wave-btn:hover::before {
  width: 500px;
  height: 500px;
  transform: translate(-75px, 75px);
}

.animated-wave-btn:hover {
  color: #191A23;
}

.animated-wave-btn:active::before {
  background: #a3e655;
}

.btn-text {
  position: relative;
  z-index: 2;
}

